@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$main-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$bottom-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$font-face: 'Outfit', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $main-background;
  color: $white;
  font-family: $font-face;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
img{
  max-width: 100%;
  object-fit: cover;
}

// container
#nft-card{
  margin: 0 auto;
  max-width: 360px;
  padding: 1.75rem;
  background:hsla(216, 45%, 22%, 0.815);
  border-radius: 15px;

  .nft-image{
    position: relative;

    div{
      position: absolute;
      top: 0;
      left: 0;
      background: hsla(178, 100%, 50%, 0.507);
      width: 100%;
      height: calc(100% - 3px);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;

      &:hover{
        opacity: 1;
        cursor: pointer;
      }

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
#section-content{
  h2{
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .nft-description{
    color: $blue;
    padding: 1rem 0;
    font-size: 18px;
    font-weight: 300;
  }
}
.price-days{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $bottom-line;

  .price,
  .days{
    display: flex;
    align-items: center;

    img{
      margin-right: 7px;
    }
  }
  .price{
    p{
      color: $Cyan;
      font-weight: 400;
    }
  }
  .days{

    color: $blue;
  }

}
.nft-creator{
  display: flex;
  align-items: center;
  margin-top: 1rem;

  img{
    width: 45px;
    border: 1px solid $white;
    border-radius: 50%;
  }
  p{
    font-size: 1rem;
    color: $blue;
    margin-left: 15px;

    span{
      color: $white;
    }
  }
 
}
footer{
  font-size: 1rem;
  
  a{
    text-decoration: none;
    color: $Cyan;
  }
}
@import 'mobile';